<template>
  <div>
    <div :bind="todo.id" v-for="todo in todos">
      <TodoItem :todo="todo" v-on:del-todo="$emit('del-todo',todo.id)"/>
    </div>
  </div>


</template>


<script>
  import TodoItem from "@/components/Todoitem";
  export  default {
    name:"Todos",
    components: {TodoItem},
    props:["todos"]

  }
</script>

<style>

</style>

